body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
    position: relative;
}
.card-container {
    width: 400px;
    position: absolute;
    height: 670px;
    border: 2px solid white;
    top: 8px;
    right: 16px;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.highlighted-question-marks {
    color: rgb(255, 102, 0);
}

.inner-card-container {
    position: absolute;
    border: 2px solid white;
    width: 366px;
    height: 400px;
    margin-left: 13px;
    margin-top: -99px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 8px;
}
.top-card {
    border: 2px solid white;
    background-color: #ff8000;
    color: white;
    height: 330px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-text {
    margin-left: 40px;

}

.inner-card-text {
    margin: 40px 18px 20px 18px;
    font-size: 15px;
    text-align: start;
}
.inner-card-text h4{
    margin-bottom: 30px;
}

.list {
    background-color: white;
    border: 2px solid rgba(187, 174, 174, 0.5);
    margin-top: 15px;
    padding: 12px;
    font-size: 13px;
    border-radius: 5px;
}

.inner-btn {
    text-align: center;
    border: none;
    padding: 12px 20px;
    border-radius: 18px;
    background-color: white;               
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: bold;
}

.btn {
    text-align: center;
}

.dot {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    background-color: #ff8000;
    border-radius: 50%;
    display: inline-block;
}

.button{
    position: absolute;
    z-index: 1;
    top: 176px;
}
.end-b{
    position: absolute;
    z-index: 1;
    top: 670px;
    right: 10px;
}
.far{
    margin-right: 4px;
}

.rounded-button {
    width: 60px;
    height: 60px;
    margin-top: 2em;
    margin-left: 3em;
    margin-bottom: 5em;
    background: #ff8000;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    /* 0 0  0 2px rgb(255,255,255), */
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.rounded-button:hover {
    background: #ff831d;
}

.rounded-button1 {
    width: 60px;
    height: 60px;
    margin-top: 2em;
    margin-left: 3em;
    margin-bottom: 5em;
    background: #ff8000;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    /* 0 0  0 2px rgb(255,255,255), */
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.rounded-button1:hover {
    background: #ff831d;
}